:root{
    --font: 'Open Sans', sans-serif;
    --marginSmall: 10px;
    --marginBig: 20px;
    --paddingBtns: 5px 10px;
    --borderRadius: 10%;
    --cNavyBlue: #1f2b44;
    --cBeige: #b5875e;
    --cRed: #811c2c;
    --cNavyBlueFilter: invert(16%) sepia(9%) saturate(2787%) hue-rotate(183deg) brightness(92%) contrast(95%);
    --cBeigeFilter: invert(54%) sepia(39%) saturate(459%) hue-rotate(347deg) brightness(98%) contrast(84%);
}
/* convert hex to CSS filter:  https://codepen.io/sosuke/pen/Pjoqqp  */
*{
    margin:0;
    padding: 0;
    font-family: var(--font);
}
body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cNavyBlue);
}
.anchor{
    height: 50px;
    margin: 0 var(--marginSmall) 0 var(--marginSmall);
    filter: var(--cNavyBlueFilter);
    /* filter: var(--cBeigeFilter); */
}
.anchor-2{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.title h1{
    font-size: 50px;
}
.title span{
    color: var(--cBeige);
    font-weight: lighter;
}

/* Button container */
.button-container{
    margin: var(--marginBig) 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--marginSmall);
    border-bottom: 5px solid var(--cNavyBlue);
}
.game-type-btns{
    padding: var(--paddingBtns);
    text-decoration: none;
    font-size: 17px;
    /* font-weight: bold; */
    color: var(--cBeige);
    background-color: white;
    border: 2px solid var(--cNavyBlue);
    border-bottom: none;
    border-top-right-radius: var(--borderRadius);
    border-top-left-radius: var(--borderRadius);
}
.game-type-btn-clicked{
    color: var(--cBeige);
    background-color: var(--cNavyBlue);
    border: 2px solid var(--cNavyBlue);
    border-bottom: none;
}
.game-type-btns:hover{
    background-color: var(--cBeige);
    color: var(--cNavyBlue);
    border: 2px solid var(--cNavyBlue);
    border-bottom: none;
}
/* ****** CONTENT ****** */
/* message container */
.content{
    flex-grow:10;
    margin: var(--marginSmall) 0 var(--marginSmall) 0;
    display: flex;
    flex-direction: column;
}
.message-container{
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
}
.content p{
    color: var(--cNavyBlue);
}
.start-game-btn{
    margin: var(--marginSmall) 0 var(--marginSmall) 0;
    border: 2px solid var(--cNavyBlue);
    background-color: var(--cBeige);
    padding: var(--paddingBtns);
    border-radius: var(--borderRadius);
    font-size: 15px;
    font-weight: bold;

}
.start-game-btn:hover {
    background-color: var(--cNavyBlue);
    border: 2px solid var(--cNavyBlue);
    color: var(--cBeige);
}

/* Boards */
.boards-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--marginBig);
}
.player-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-content: stretch;
    gap: var(--marginSmall);
}
.board-p1, .board-p2{
    border: 1px solid var(--cNavyBlue);
    /* height: 400px;
    width: 400px; */
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-rows: repeat(8, 50px);
    grid-template-columns: repeat(8, 50px);
    
}
/* .board-1{
    background-color: blue;
}
.board-2{
background-color: rgb(255, 0, 98);
} */
.coord-div{
    /* height: 50px;
    width: 50px; */
    border: 1px solid var(--cNavyBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    
        
}

/* Coord hit */
.spot-hit-green, .spot-hit-red{
    font-size: 50px;
}
.spot-hit-green{
    color: green;
}
.spot-hit-red{
    color: var(--cRed);
}

/* Ships to be positioned */
.ship-container{
    display: flex;
    flex-direction: column;
    gap: var(--marginSmall);
    flex-grow: 4;
}
.ship-sub-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--marginSmall);
}
.rotate-ship-icon{
    font-size: 30px;
    cursor:pointer;
    color: var(--cNavyBlue);
}
.rotate-ship-icon:hover{
color: var(--cBeige);
}
.the-ship{
    display: flex;
}
.the-ship-vertical{
/* transform:rotate(90deg);
transform-origin: bottom right; */
flex-direction: column;
}
.ship-part{
    width: 48px;
    height: 48px;
    /* background-color: rgb(0, 255, 255); */
}
.the-ship-vertical .ship-part{
    transform:rotate(90deg);
    transform-origin: center;
}
.ship-not-positioned{
    cursor:grab;
}
/* .ship-sub-container-0 .ship-part-1{
    
background: url('./images/ship_1.png') no-repeat center bottom/cover;
background-position: left;
}
.ship-sub-container-0 .ship-part-2 {
    background-color: var(--cNavyBlue);
    background: url('./images/ship_1.png') no-repeat center bottom/cover;
        background-position: right;
        background-color: var(--cNavyBlue);
    /* background: url('images/navalShip_3.png') no-repeat center bottom/cover; */
/* } */ 
.coords-on-drag{
    background-color: var(--cBeige);
}

/* Individual ship styling */
/* Ship images source: Battleship vector created by macrovector - https: //www.freepik.com/vectors/battleship */
.ship-1-part-1{
    background: url('./images/ship_1.png') no-repeat center bottom/cover;
    background-position: left;
}
.ship-1-part-2 {
    background: url('./images/ship_1.png') no-repeat center bottom/cover;
    background-position: right;
}
.ship-1-part-1.ship-part-vertical, .ship-1-part-2.ship-part-vertical{
    transform: rotate(90deg);
    transform-origin: center;
}

.ship-2-part-1 {
    background: url('./images/ship_2.png') no-repeat center bottom/cover;
    background-position: left;
}
.ship-2-part-2 {
    background: url('./images/ship_2.png') no-repeat center bottom/cover;
    background-position: center;
}
.ship-2-part-3 {
    background: url('./images/ship_2.png') no-repeat center bottom/cover;
    background-position: right;
}

.ship-2-part-1.ship-part-vertical,
.ship-2-part-2.ship-part-vertical,
.ship-2-part-3.ship-part-vertical {
    transform: rotate(90deg);
    transform-origin: center;
}

.ship-3-part-1 {
    background: url('./images/ship_3_a.png') no-repeat center bottom/cover;
    background-position: left;
}
.ship-3-part-2 {
    background: url('./images/ship_3_a.png') no-repeat center bottom/cover;
    background-position: right;
}
.ship-3-part-3 {
    background: url('./images/ship_3_b.png') no-repeat center bottom/cover;
    background-position: left;
}
.ship-3-part-4 {background: url('./images/ship_3_b.png') no-repeat center bottom/cover;
    background-position: right;
}
.ship-3-part-1.ship-part-vertical,
.ship-3-part-2.ship-part-vertical,
.ship-3-part-3.ship-part-vertical,
.ship-3-part-4.ship-part-vertical {
    transform: rotate(90deg);
    transform-origin: center;
}

.ship-4-part-1 {
    background: url('./images/ship_4_a.png') no-repeat center bottom/cover;
    background-position: left;
}

.ship-4-part-2 {
    background: url('./images/ship_4_a.png') no-repeat center bottom/cover;
    background-position: right;
}

.ship-4-part-3 {
    background: url('./images/ship_4_b.png') no-repeat center bottom/cover;
    background-position: left;
}

.ship-4-part-4 {
    background: url('./images/ship_4_b.png') no-repeat center bottom/cover;
    background-position: right;
}

.ship-4-part-1.ship-part-vertical,
.ship-4-part-2.ship-part-vertical,
.ship-4-part-3.ship-part-vertical,
.ship-4-part-4.ship-part-vertical {
    transform: rotate(90deg);
    transform-origin: center;
}
/* hide items */
.hide{
    display:none;
}

/* ****** FOOTER ****** */
/* Footer */
footer {
    /* background-color: purple; */
    border-top: 5px solid var(--cNavyBlue);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 0px 10px 0px;
    min-height: 30px;
}

footer p {
    margin-right: 7px;
    color: var(--cNavyBlue);
}

footer a {
    display: flex;
    align-items: flex-end;
}

footer ion-icon {
    font-size: 20px;
    padding-left: 5px;
    color: var(--cNavyBlue);

}

footer ion-icon:hover {
    transform: scale(2) rotateZ(360deg);
}